/* 전체 페이지 스타일 */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    font-family: 'Pretendard', sans-serif;
}

/* 상단 헤더 */
.page-header {
    text-align: center;
    background-color: #747474;
    color: white;
    padding: 20px 0;
}

.page-header h1 {
    margin: 0;
    font-size: 2rem;
}

/* 콘텐츠 섹션 */
.content-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 좌측 이미지 컨테이너 */
.image-container {
    flex: 1 1 50%;
}

.image-container img {
    width:100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 우측 텍스트 컨테이너 */
.description-container {
    flex: 1 1 60%;
}

.description-container h2 {
    font-size: 1.8rem;
    color: #919191;
    margin-bottom: 10px;
    margin-top:-8px;
}

.description-container p {
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: justify;
    line-height: 1.8;
}

/*하단*/
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b6b6b6;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #858585;
}

h3 {
    text-align: center;
}